
/* de styleIndex.css*/

body { margin:0; background-color: whitesmoke; }

.txtRight 	{ text-align: right;}
.txtLeft 	{ text-align: left;}
.txtCenter 	{ text-align: center;}

.txtBold 	{ font-weight: bold;}
.txtEnorme 	{ font-size: 2em;}
.txtGrande 	{ font-size: 1.4em;}


/* ESCPECIFICAS */

.logoRegistro { 
	height: 80px;
	padding: 2em 0;
}

.ui-panel.pnlRegistro {
	border-radius: 6px;
	box-shadow: 0 8px 24px 5px rgba(0,0,0,0.3), 
				0 8px 12px 5px rgba(0,0,0,0.15);
	border: none;
}

.pnlRegistro .ui-panel-titlebar {
	text-align: center;
	font-size: 1.4em;
	border-top-left-radius: 6px;	
	border-top-right-radius: 6px;
}

.pnlRegistro .ui-widget-header { 
	background:none; 
	background-color: #3a8bc5;
	color: white; 
}

.ui-panel.pnlRegistro .ui-panel-content {
	border: none;
	padding: 2em;
}

.pnlRegistro input.ui-inputfield { margin: 0.5em 0;}
.pnlRegistro div.ui-selectonemenu { margin: 0.5em 0;}


.pnlRegistroButtonPanel { margin-top: 1em; }
.pnlRegistroButtonPanel button:first-child {margin-right: 10px;}
.pnlRegistroButtonPanel button:last-child  {margin-right: 0}

.pnlRegistro .ui-message-error {
	border: none;
	margin: 0;
	padding: 0;
	color: red;
	background-color: white;
}

