
/* de styleIndex.css*/

body { 
	margin:0; 
	background-color: whitesmoke;
	font-family: Lato, sans-serif; 
}

.txtRight 	{ text-align: right;}
.txtLeft 	{ text-align: left;}
.txtCenter 	{ text-align: center;}

.txtBold 	{ font-weight: bold;}
.txtEnorme 	{ font-size: 2em;}
.txtGrande 	{ font-size: 1.4em;}

.ui-panel.noBorder,
.ui-panelgrid.noBorder .ui-panelgrid-content,
.ui-menu.noBorder {border: 0;}

.ui-panel.noPadding .ui-panel-content,
.ui-menu.noPadding { padding: 0;}

/* ESCPECIFICAS */

.colorBlueA { color: #2399E5}
.txtMediano { font-size: 1.2em;}
.txtXS {font-size: 0.6em};
.txtFino {font-weight: 300;}
.bgMenuColor, .bgDlg { background-color: whitesmoke;}
.bgCenterColor 	{ background-color: white;}

.dottedBorder {border: 1px dotted lightgray;}

.cvMenuPnl, .cvCenterPnl { height: 900px; }

/* aplicar estilos al menu de cv, expediente, ...*/
.ui-menu.cvMenu { width: 100%;}

.ui-menu.cvMenu .ui-menuitem-link {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.ui-menu .ui-menuitem-link.menuActual {
	color: white;
	background-color: #2399E5; 
	border: none;
}

/* .ui-menu .ui-menuitem-link:hover { } */

.ui-menu.cvMenu .ui-menuitem-text { 
	padding: .5em 0 .5em 1em;
	font-family: 'Raleway';
	font-size: 24px;
}

.ui-panelgrid.cvUser { font-family: 'Raleway'};

/*quitar border-radius de los elementos del menu*/
.ui-corner-all.noBorderRadius { border-radius: unset;}


.ui-panel.cvCenterPnl > .ui-panel-content { 
	padding: 0;
	margin-left: 1em;
	margin-right: 1em;
}

.pnlDatosPersonales, .pnlDatosEstudios, .pnlDatosExperiencia { margin-top: 2em; }

.ui-panel.pnlDatosPersonales > .ui-panel-content,
.ui-panel.pnlDatosEstudios > .ui-panel-content,
.ui-panel.pnlDatosExperiencia > .ui-panel-content { padding: 2em 1em 2em 0;}


/* dentro de cada .pnlXxxxXxxx, en el div de la derecha, esta el 'bloque' donde se van a mostrar datos: personales, formacion, experiencia, ...*/
.bloqueDatos {
	height: 150px;
	border-left: 1px dotted lightgray;
	margin-left: 0.5em;
}


/* boton para añadir datos, icono del boton visible pero el boton en si, sin background color
   y además que el icono del boton sea totalmente visible y no lo recorte el boton con el overflow que viene por defecto*/
button.ui-button.ui-state-default.btnAdd {
	border: none;
	border-radius: unset;
	box-shadow: none;
	background: none;			
}
	
.ui-button.btnAdd .ui-button-text { color: #2399E5; }

.ui-button.btnAdd .ui-icon { overflow: visible;}
.ui-button.btnAdd .ui-icon.fa { color: #2399E5; }
.ui-button.btnAdd .ui-button-text { padding-left: 2.5em;}


/* dialogo añadir datos personales*/

#datosPersonales .ui-calendar .ui-inputfield { width: 95%;}

#datosPersonales .ui-fileupload-content {display: none;}
#datosPersonales .ui-fileupload-buttonbar { padding: 0; border: none;}

/* button.ui-button.ui-state-hover.btnAdd {  */
/* /* 	border: 1px solid #2399E5; */ */
/* 	border: 1px solid white; */
/* } */

/* button.ui-button.ui-state-hover.btnAdd .ui-button-text  { */
/* 	color: black; */
/* /* 	background-color: #2399E5;	 */ */
/* 	background-color: white;	 */
/* } */


/* centrar vertical y horizontalmente */
/* .flexCenter { */
/* 	display: flex; */
/* 	justify-content: center; */
/* 	align-items: center;			 */
/* } */

/* #fotoWrapper { */
/* 	display: flex; */
/* 	justify-content: flex-end; */
/* 	margin-top: 1.5em; */
/* 	margin-bottom: 1.5em;	 */
/* } */

/* #foto {  */
/* 	width: 100px;  */
/* 	height: 100px;  */
/* 	border: 1px solid black; */
/* } */

/* .circle { */
/* 	color: black; */
/* 	background-color: white;	 */
/* 	border: 1px solid black; */
/* 	border-radius: 50%; */
/* 	width: 2em; */
/* 	height: 2em; */
/* } */
