
/* de styleIndex.css*/

body { 
	margin:0; 
	background-color: whitesmoke;
	font-family: Lato, sans-serif; 
}

.txtRight 	{ text-align: right;}
.txtLeft 	{ text-align: left;}
.txtCenter 	{ text-align: center;}

.txtBold 	{ font-weight: bold;}
.txtEnorme 	{ font-size: 2em;}
.txtGrande 	{ font-size: 1.4em;}

.ui-panel.noBorder,
.ui-panelgrid.noBorder .ui-panelgrid-content,
.ui-menu.noBorder {border: 0;}

.ui-panel.noPadding .ui-panel-content,
.ui-menu.noPadding { padding: 0;}

/* ESCPECIFICAS */

/* estos dos son para los problemas con la altura del body de cv/content.xhtml y del dialogo*/
.alturaCVLayout { height: 1100px;}
/* .cvMenuPnl, .cvCenterPnl { height: 900px; } */

.txtMediano { font-size: 1.2em;}
.txtXS {font-size: 0.6em};
.txtFino {font-weight: 300;}

.colorBlueA 	{ color: 			#2399E5;}
			
.bgMenuColor	{ background-color: #747474;}
.bgCenterColor 	{ background-color: whitesmoke;}
.bgDlg 			{ background-color: whitesmoke;}

.dottedBorder {border: 1px dotted lightgray;}

/* aplicar estilos al menu de cv, expediente, ...*/
.ui-menu.cvMenu { width: 100%;}

.ui-menu.cvMenu .ui-menuitem-link {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.ui-menu .ui-menuitem-link.menuActual,
.ui-menu .ui-menuitem-link:hover {
	color: white;
	background-color: #2399E5; 
	border: none;
}
 
.ui-menu.cvMenu .ui-menuitem-text { 
	padding: .5em 0 .5em 1em;
	font-family: 'Raleway';
	font-size: 24px;
	color: #DDDDDD;
}

.ui-panelgrid.cvUser { font-family: 'Raleway'; };

/*quitar border-radius de los elementos del menu*/
.ui-corner-all.noBorderRadius { border-radius: unset;}


.ui-panel.cvCenterPnl > .ui-panel-content { 
	padding: 0;
	margin-left: 1em;
	margin-right: 1em;
}

.pnlDatosPersonales, .pnlDatosEstudios, .pnlDatosExperiencia { margin-top: 2em; }
.pnlDatosExperiencia {margin-bottom: 2em;}

.ui-panel.pnlDatosPersonales > .ui-panel-content,
.ui-panel.pnlDatosEstudios > .ui-panel-content,
.ui-panel.pnlDatosExperiencia > .ui-panel-content { padding: 2em 1em 2em 0;}


/* dentro de cada .pnlXxxxXxxx, en el div de la derecha, esta el 'bloque' donde se van a mostrar datos: personales, formacion, experiencia, ...*/
.bloqueDatos {
	height: 150px;
	border-left: 1px dotted lightgray;
	margin-left: 0.5em;
}


/* boton para añadir datos, icono del boton visible pero el boton en si, sin background color
   y además que el icono del boton sea totalmente visible y no lo recorte el boton con el overflow que viene por defecto*/
button.ui-button.ui-state-default.btnAdd {
	border: none;
	border-radius: unset;
	box-shadow: none;
	background: none;			
}
	
.ui-button.btnAdd .ui-button-text { color: #2399E5; }

.ui-button.btnAdd .ui-icon { overflow: visible;}
.ui-button.btnAdd .ui-icon.fa { color: #2399E5; }
.ui-button.btnAdd .ui-button-text { padding-left: 2.5em;}


/* DIALOGO PARA AÑADIR DATOS PERSONALES */

#dlgDatosPersonales .ui-dialog-titlebar { 
	margin: 1em; 
	padding: 0 0 0 0;
}

#dlgDatosPersonales .ui-dialog-title {
	width: 100%;
	display: flex;
  	justify-content: space-between;	
	align-items: center;
	text-transform: uppercase;
}

#dlgDatosPersonales .ui-dialog-content { padding-top: 0;}

/* problemas con la altura del dialogo y de la página que contiene el dialogo */
#dlgDatosPersonales { min-height: 1100px;}

/* problemas con el calendario para elegir fecha de nacimiento */
#dlgDatosPersonales .ui-calendar .ui-inputfield { width: 95%;}

/* problemas con el autocomplete de 'nacionalidad/es' */
#dlgDatosPersonales .ui-autocomplete-multiple-container.ui-inputfield { width: 100%;}

/* estilos para el componente fileupload*/ 
#datosPersonales .ui-fileupload-content {display: none;}
#datosPersonales .ui-fileupload-buttonbar { padding: 0; border: none;}
#datosPersonales .ui-fileupload-buttonbar .ui-button { margin-right: 0;}

#elegirFoto {
	display: flex;
	flex-direction: column;
	align-items: center;	
}

/* para que la imagen del dialogo se muestre "recortada"(en la vista solo) */
#fotoWrapper,
#fotoWrapper img { width: 110px; height: 110px; border: 1px solid gray; }
#fotoWrapper { margin-bottom: 1em;}

.bloqueBtnAceptarCancelar {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	font-size: 1.2em;
}

.bloqueBtnAceptarCancelar .ui-widget { font-family: 'Raleway'; }

#dlgDatosPersonales .ui-message-error, .cpErrorMsg {
	border: none;
	margin: 0;
	padding: 0;
	color: red;
	background-color: transparent;
	font-size: 11px;	
}

#dlgDatosPersonales .ui-message-error-detail { margin: 0};