<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/jndi-pool</property>
<!--         <property name="hibernate.connection.username">clientejava</property>         -->
<!--         <property name="hibernate.connection.password">2015</property> -->
<!--         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bolsaempleofp</property> -->
    	<property name="hibernate.show_sql">false</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <mapping class="es.albarregas.modelos.BloqueDatosCv" />
        <mapping class="es.albarregas.modelos.Certificado" />
        <mapping class="es.albarregas.modelos.Ciclo" />
        <mapping class="es.albarregas.modelos.Conocimiento" />
        <mapping class="es.albarregas.modelos.DatoAlumno" />
        <mapping class="es.albarregas.modelos.Direccion" />
        <mapping class="es.albarregas.modelos.Documento" />
        <mapping class="es.albarregas.modelos.EstudioAlumno" />                                        
        <mapping class="es.albarregas.modelos.NotaAlumno" />
        <mapping class="es.albarregas.modelos.ExperienciaAlumno" />
        <mapping class="es.albarregas.modelos.IdiomaAlumno" />
        <mapping class="es.albarregas.modelos.Modulo" />
        <mapping class="es.albarregas.modelos.Municipio" />
        <mapping class="es.albarregas.modelos.NacionAlumno" />
        <mapping class="es.albarregas.modelos.NotaAlumno" />
        <mapping class="es.albarregas.modelos.Pais" />                        
        <mapping class="es.albarregas.modelos.PermisoConduccion" />
        <mapping class="es.albarregas.modelos.Provincia" />
        <mapping class="es.albarregas.modelos.RedSocialAlumno" />        
        <mapping class="es.albarregas.modelos.Usuario" />

    </session-factory>
</hibernate-configuration>
